<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-navbutton-color" content="#EFE">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Example">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="icon" type="image/jpg" sizes="32x32" href="calendar-icon.png">
    <link rel="icon" type="image/jpg" sizes="96x96" href="calendar-icon.png">
    <link rel="icon" type="image/jpg" sizes="16x16" href="calendar-icon.png">

    <title>Doomsday Game</title>

    <link rel="stylesheet" type="text/css" href="/index.css">


  </head>

  <body>

    <ul id="navbar">
      <li> <a href="/About">About</a> </li>
      <li> <a href="/Download">Download.txt</a> </li>
      <li class="right">
        <label class="switch">
          <input id="dark-mode" type="checkbox">
          <span class="slider"></span>
        </label>
      </li>
      <li class="right"> <span>Dark mode</span> </li>
    </ul>

    <div class="main">
      
      <h1 id="title">Doomsday Game</h1>

      <div id="date-display">
        <h1 id="full_date">
          <%= date.toLocaleDateString("en-US", {year: 'numeric', month: 'long', day: 'numeric' }) %>
        </h1>
        <h3 id="year">Year: <%= date.toLocaleDateString("en-US", {year: 'numeric'}) %></h3>
        <h3 id="month">Month: <%= date.toLocaleDateString("en-US", {month: 'numeric'}) %></h3>
        <h3 id="day">Day: <%= date.toLocaleDateString("en-US", {day: 'numeric' }) %></h3>

      </div>

      <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

      <form id="answer" action="/answer" target="dummyframe" method="post">

        <input type="text" name="correct" value=<%= date.getDay() %> >
        <input type="text" name="JSONdate" value=<%= JSON.stringify(date) %> >

        <input type="radio" id="zero" name="answer" value="0" />
        <label class="radio-label" for="zero"> Sunday </label>

        <input type="radio" id="one" name="answer" value="1" />
        <label class="radio-label" for="one"> Monday </label>

        <input type="radio" id="two" name="answer" value="2" />
        <label class="radio-label" for="two"> Tuesday </label>

        <input type="radio" id="three" name="answer" value="3" />
        <label class="radio-label" for="three"> Wednesday </label>

        <input type="radio" id="four" name="answer" value="4" />
        <label class="radio-label" for="four"> Thursday </label>

        <input type="radio" id="five" name="answer" value="5" />
        <label class="radio-label" for="five"> Friday </label>

        <input type="radio" id="six" name="answer" value="6" />
        <label class="radio-label" for="six"> Saturday </label>

      </form>

      <ul id="buttons">
        <a title="Enter" id="submit" class="control">Submit</a>
      </ul>
      
    </div>

    <script defer src="index.js"></script>
  </body>
</html>
